{{- $author := index .Site.Data.authors (.Params.author | default "default") }}
{{- $showShare := ne (.Param "showshare") false }}
{{- $showDate := ne (.Param "showdate") false }}
{{- $showReadTime := ne (.Param "showreadtime") false }}
{{- $showPostMeta := or ($showShare) ($showDate) ($showReadTime) (isset .Params "tags") }}
{{- $scratch := newScratch }}
{{- $scratch.Set "writeSeparator" false }}
{{- if $showPostMeta }}
  <div class="post_meta">
{{- end }}

 {{- if $showDate }}
  {{ if eq .Parent.Type "blog" }}
    <img loading="lazy" decoding="async" class="author" alt="{{ $author.name }}'s picture." title=" " src="{{ $author.picture }}"/>
    <div class="post_date">
      {{ $author.name }}<br>
      <span class="grey">{{ .Date.Format (default "January 2, 2006" $.Site.Params.dateFormat) -}}</span>
    </div>
    {{- $scratch.Set "writeSeparator" true }}
  {{ else}}
    <!-- Block for /tags & /categories -->
  {{ end }}
  {{- end }}
  {{- if $showReadTime }}
    <span class="post_time">{{ if ($scratch.Get "writeSeparator") }} · {{ end }}{{ T "reading_time" . }}</span>
    {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
{{- if $showPostMeta }}
  </div>
  {{- with .Params.tags -}}
    <div>
      {{- if ($scratch.Get "writeSeparator") }}&nbsp;{{ end }}
      {{- range . }}
        {{- $tag := urlize . -}}
        <a href='{{ absLangURL (printf "tags/%s/" $tag) }}' title="{{ . }}" class="post_tag button button_translucent">
          #&nbsp;{{- . }}
        </a>
      {{- end }}

    {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{- if $showShare }}
    <span class="page_only">{{ if ($scratch.Get "writeSeparator") }}{{ end }}{{ partial "share" . }}</span>
    {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
</div>
{{- end }}
